* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.footer__content{
    background-color: #121116;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 120px 30px 40px;
}

.footer__title  {
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding: 15px 40px;
}

.links__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.links__list__item {
    margin: 30px;
}

.kasper__link {
    color: #19c8fa;
    text-decoration: none;
}

.footer__subtitle {
    font-size: 1.5rem;
    padding: 10px
}